<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.milo.prac.commoncode.mapper.CommonCodeMapper">

  <select id="findByGroupCode" resultType="CommonCodeDto">
    SELECT
      GROUP_CODE,
      COMMON_CODE,
      CODE_NAME,
      USE_YN,
      DEL_YN,
      SORT_ORDER,
      DESCRIPTION,
      CREATED_BY,
      CREATED_AT,
      UPDATED_BY,
      UPDATED_AT
    FROM
      TB_COMMON_CODE
    WHERE
      GROUP_CODE = #{groupCode}
      AND DEL_YN = 'N'
    ORDER BY SORT_ORDER ASC
  </select>

  <select id="countByGroupCodeAndCommonCode" resultType="int">
    SELECT COUNT(*)
    FROM TB_COMMON_CODE
    WHERE GROUP_CODE = #{groupCode}
      AND COMMON_CODE = #{commonCode}
  </select>

  <select id="countByGroupCode" resultType="int">
    SELECT COUNT(*)
    FROM TB_CODE_GROUP
    WHERE GROUP_CODE = #{groupCode}
  </select>

  <insert id="insert" parameterType="CommonCodeDto">
    INSERT INTO TB_COMMON_CODE (
      GROUP_CODE,
      COMMON_CODE,
      CODE_NAME,
      USE_YN,
      DEL_YN,
      SORT_ORDER,
      DESCRIPTION,
      CREATED_AT,
      CREATED_BY
    ) VALUES (
      #{groupCode},
      #{commonCode},
      #{codeName},
      #{useYn},
      #{delYn},
      #{sortOrder},
      #{description},
      CURRENT_TIMESTAMP,
      #{createdBy}
    )
  </insert>

  <update id="update" parameterType="CommonCodeDto">
    UPDATE TB_COMMON_CODE
    SET
      CODE_NAME = #{codeName},
      USE_YN = #{useYn},
      SORT_ORDER = #{sortOrder},
      DESCRIPTION = #{description},
      UPDATED_AT = CURRENT_TIMESTAMP,
      UPDATED_BY = #{updatedBy}
    WHERE
      GROUP_CODE = #{groupCode}
      AND COMMON_CODE = #{commonCode}
  </update>

  <update id="delete" parameterType="commonCodeDto">
    UPDATE TB_COMMON_CODE
    SET
      DEL_YN = 'Y',
      UPDATED_AT = CURRENT_TIMESTAMP,
      UPDATED_BY = #{updatedBy}
    WHERE
      GROUP_CODE = #{groupCode}
      AND COMMON_CODE = #{commonCode}
  </update>
</mapper>